---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: virtinkclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: VirtinkCluster
    listKind: VirtinkClusterList
    plural: virtinkclusters
    singular: virtinkcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.controlPlaneEndpoint.host
      name: Host
      type: string
    - jsonPath: .spec.controlPlaneEndpoint.port
      name: Port
      type: integer
    - jsonPath: .status.ready
      name: Ready
      type: boolean
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: VirtinkCluster is the Schema for the virtinkclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VirtinkClusterSpec defines the desired state of VirtinkCluster
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              controlPlaneServiceType:
                description: ControlPlaneServiceType can be used to modify type of
                  service that fronts the control plane nodes to handle the api-server
                  traffic (port 6443). This field is optional, by default control
                  plane nodes will use a service of type ClusterIP, which will make
                  workload cluster only accessible within the same cluster.
                type: string
              infraClusterSecretRef:
                description: InfraClusterSecretRef is a reference to a secret with
                  a kubeconfig for external cluster used for infra.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              nodeAddressConfig:
                properties:
                  addresses:
                    description: Addresses is list of IP addresses for allocating
                      to nested cluster nodes.
                    items:
                      type: string
                    type: array
                  annotations:
                    description: 'Annotations are CNI required annotations to specify
                      static IP and MAC address for pod. can use $IP_ADDRESS as a
                      placeholder for IP address, provider will replace it by allocated
                      IP address. can use $MAC_ADDRESS as a placeholder for MAC address,
                      provider will replace it by a self generated MAC address. eg:
                      ["cni.projectcalico.org/ipAddrs=[\"$IP_ADDRESS\"]", "cni.projectcalico.org/hwAddr=$MAC_ADDRESS"]'
                    items:
                      type: string
                    type: array
                type: object
            type: object
          status:
            description: VirtinkClusterStatus defines the observed state of VirtinkCluster
            properties:
              ready:
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
