---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: kubridmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: KubridMachine
    listKind: KubridMachineList
    plural: kubridmachines
    singular: kubridmachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - jsonPath: .status.ready
      name: Ready
      type: boolean
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: KubridMachine is the Schema for the kubridmachines API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KubridMachineSpec defines the desired state of KubridMachine
            properties:
              providerID:
                type: string
            type: object
          status:
            description: KubridMachineStatus defines the observed state of KubridMachine
            properties:
              ready:
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
